<div id="calcForm">
	<div class="container">

		<br>
		<%= link_to("<< Back to Calculation List", {:action => 'index'}, :class => 'back-link btn btn-primary') %>

		<h4>Select a Feedstock, enter tonnes available, and press calculate button<br>
			Press the add button for additional feedstock fields</h4>
		<div class="col-md-10">
			<%= form_for(:calculation, :url => {:action => 'create'}) do |f| %>

			<div class="row">
				<div class="col-md-2">
					<label><%= f.label(:feedstock_id, "Feedstock") %></label>
				</div>
				<div class="col-md-2">
					<label><%= f.label(:tonnes, "Tonnes") %></label>
				</div>
			</div>


			<% 3.times { -%>
				<%= render(:partial => "form", :locals => {:f => f}) %>
			<% } -%><br>

			<%= f.submit "Calculate ", :class => 'btn btn-success btn-lg' %>
			<%#= link_to("Add Field", {:action => ''}, :class => 'btn btn-warning') %>

		 	<% end %><br>
	 	</div>




