<div class=container>
	<%= link_to("<< Back to Calculation List", {:action => 'index'}, :class => 'back-link') %>
	<h4>Select a Feedstock, enter tonnes available, and press calculate button</h4>

	<% if !flash[:error].blank? %>
	  <div>
	    <%= flash[:error] %>
	  </div>
	<% end %>


	<%= form_for(:calculation, :url => {:action => 'create'}) do |f| %>

	<%= render(:partial => "form", :locals => {:f => f}) %>

	<%= f.submit "Calculate ", :class => 'btn btn-success btn-lg' %>

 	<% end %>
</div>
