<div class="container">
	<br>
	<%= link_to("<< Back to Calculation List", {:action => 'index'}, :class => 'back-link btn btn-primary') %>
	<h3>Biogas Output & Energy Values</h3><br>
	<div class="col-lg-8">

		<div class="table-responsive">
			<div class="well">
				<table class="table table-bordered">
					<tr>
						<th>Feedstock</th>
						<th>Tonnes</th>
						<th>biogas/tonne</th>
						<th>m&#179; biogas</th>
						<th>% CH<sub>4</sub></th>
						<th>m&#179; CH<sub>4</th>
						<th>kg CH<sub>4</sub></th>
						<th>Gigajoules</th>
						<th>MWH</th>
					</tr>
					<tr class="success">
						<td><%= @calculation.feedstock.type %></td>
						<td class="text-right"><%= number_delimiter(@calculation.tonnes) %></td>
						<td class="text-right"><%= @calculation.feedstock.biogas_per_tonne %></td>
						<td class="text-right"><%= number_delimiter(@calculation.calc_m3_biogas) %></td>
						<td class="text-right"><%= number_percent(@calculation.feedstock.methane_percent * 100) %></td>
						<td class="text-right"><%= number_delimiter(@calculation.calc_m3_ch4) %></td>
						<td class="text-right"><%= number_delimiter(@calculation.calc_kg_ch4) %></td>
						<td class="text-right"><%= number_delimiter(@calculation.calc_gigjoules_ch4) %></td>
						<td class="text-right"><%= number_delimiter(@calculation.calc_mwh_ch4) %></td>
					</tr>
				</table>
			</div>
		</div>
	

		<h3>Digestate volume & Estimated Nutrient Volumes</h3>
			<div class="col-lg-6">
				<div class="table-responsive">
					<div>
					<table class="table table-bordered">
					<caption>All values are in tonnes</caption>
					<tr>
						<th>Feedstock</th>
						<th>Tonnes</th>
						<th>Nitrogen</th>
						<th>Phosphorus</th>
						<th>Potassium</th>
					</tr>
					<tr>
						<td><%= @calculation.feedstock.type %></td>
						<td class="text-right"><%= (@calculation.calc_digestate_tonnes) %></td>
						<td class="text-right"><%= @calculation.calc_digestate_nitrogen %></td>
						<td class="text-right"><%= @calculation.calc_digestate_phosphorus %></td>
						<td class="text-right"><%= number_delimiter@calculation.calc_digestate_potash %></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

