<div class="container"><br>
	<div class="jumbotron">
		<h2 class="text-center">Welcome to the Anaerobic Digester Calculator</h2>
		<div class="row">
			<p class="col-md-7">
				Anaerobic digestion is a process in which of organic materials are broken down
				by microorganisms in the absence of oxygen.<br><br>
				This app allows you to create multiple anaerobic digestion projects. The app calculates
				potenital: biogas, digestate, electricity, heat and upgraded biogas that can be generated with chosen feedstock volumes. <br><br>

				<!-- only display buttons if user is logged in -->
				<% if user_signed_in? %>
					<%= link_to 'Create a New Project', new_project_path, :class => 'btn btn-primary btn-lg' %>
					<%= link_to 'View existing Projects', projects_path, :class => 'btn btn-primary btn-lg' %><br><br>
				<% else %>
					<%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-primary btn-lg' %>
					<%= link_to "Login", new_user_session_path, :class => 'btn btn-primary btn-lg'  %><br><br>
				<% end %>
			</p>
			<div class="col-md-5">
				<%= image_tag "adplant.jpg" %>
			</div>
		</div>
		<small class="alert alert-danger">Disclaimer: This app is for a pre-feasibility study only.
			To confirm calculation results you should consult the appropriate experts.
		</small>
	</div>

</div>