<div class="container">
	<h3>Biogas Output & Energy Values, Hardcoded grass silage values!!!</h3><br>
	<div class="col-lg-8">

		<div class="table-responsive">
			<table class="table table-bordered">
				<tr>
					<th>Feedstock</th>
					<th>Tonnes</th>
					<th>m&#179; biogas</th>
					<th>% CH<sub>4</sub></th>
					<th>m&#179; CH<sub>4</th>
					<th>kg CH<sub>4</sub></th>
					<th>Gigajoules</th>
					<th>MWH</th>
				</tr>
				<tr>
					<td>Grass Silage</td>
					<td class="text-right"><%= @feedstock.tonnes %></td>
					<td class="text-right"><%= @m3_biogas %></td>
					<td class="text-right">60</td>
					<td class="text-right"><%= @m3_methane %></td>
					<td class="text-right"><%= @kg_methane %></td>
					<td class="text-right"><%= @gj_methane %></td>
					<td class="text-right"><%= @mwh_methane %></td>
				</tr>
			</table>
		</div>

		<h3>Digestate volume & Estimated Nutrient Volumes</h3>
		<div class="col-lg-6">
		<div class="table-responsive">
			<table class="table table-bordered">
				<caption>All values are in tonnes</caption>
				<tr>
					<th>Feedstock</th>
					<th>Tonnes</th>
					<th>Nitrogen</th>
					<th>Phosphorus</th>
					<th>Potassium</th>
				</tr>
				<tr>
					<td>Grass Silage</td>
					<td class="text-right"><%= @vol_digestate %></td>
					<td class="text-right"><%= @vol_nitrogen %></td>
					<td class="text-right"><%= @vol_phosphorus %></td>
					<td class="text-right"><%= @vol_potash %></td>
				</tr>
			</table>
		</div>
	</div>
</div>

		
		<div class="col-lg-6">
		<div class="table-responsive">
			<table class="table table-bordered">
			<h3>Energy values Hardcoded CHP heat values</h3>
				<caption>All values are in MWH unless stated otherwise</caption>
				<tr>
					<th>Generated Heat</th>
					<th>Usable Heat</th>
					<th>Salable</th>
					<th>Price per kw €</th>
					<th>Value €</th>
				</tr>
				<tr>
					<td class="text-right"><%= @mwh_methane %></td>
					<td class="text-right"><%= @usable_heat %></td>
					<td class="text-right"><%= @salable_heat %></td>
					<td class="text-right"><%= 0.96 %></td>
					<td class="text-right"><%= @heat_value %></td>
				</tr>
			</table>
		</div>
	</div>

	<div class="col-lg-6">
		<div class="table-responsive">
			<table class="table table-bordered">
			<h3>Energy values Hardcoded CHP Electricity values</h3>
				<caption>All values are in MWH unless stated otherwise</caption>
				<tr>
					<th>Generated Elec</th>
					<th>Salable Elec</th>
					<th>Price per kw €</th>
					<th>Value €</th>
					<th>Generator Size MW</th>
				</tr>
				<tr>
					<td class="text-right"><%= @potential_elec %></td>
					<td class="text-right"><%= @salable_elec %></td>
					<td class="text-right"><%= 130 %></td>
					<td class="text-right"><%= @elec_value %></td>
					<td class="text-right"><%= @gen_size %></td>
				</tr>
			</table>
		</div>
	</div>
</div>

<%= button_to "Start Calculation", new_feedstock_path, 
	:method => "get", :class => 'btn btn-primary btn-lg' %>
