<div class="col-md-8">
	<%= form_for @project do |f| %>

		
			<%#= Project name field %>
			<div class="col-md-3 col-sm-4">
				<label><%= f.label :name, "Project Name" %></label>
				<%= f.text_field :name, :placeholder => 'name', class: "form-control", :required => true %>
			</div>
			<div class="clearfix"></div><br>

			
			<%#= Calculations form builder %>
			<%= f.fields_for :calculations do |builder| %>

				<%= render 'calculation_fields', f: builder %>

			<% end %>
			<%= link_to_add_fields "Add feedstock field", f, :calculations %><br><br>
			
			

			<%= f.submit "Calculate", class: "btn btn-success btn-lg" %>
			<button type="button" class="btn btn-danger btn-lg" onClick="window.location.reload()">Reload Form</button>
		
	<% end %>

</div>


    