<div class="container">

	<h3>Project Name: <%= @project.name %></h3>

	<div class="row">
		<div class="col-md-4">
				<%= column_chart({"Generated Heat" => @project.chp_usable_heat,
													"Salable Heat" => @project.chp_salable_heat, 
													"Generated Electricity" => @project.chp_salable_elec
				}) %>
				<p class="text-center">MWH CHP Energy</p>
		</div>

		<div class="col-md-4">
				<%= column_chart({"Heat Value" => @project.calc_potential_income_heat,
													"Electricity Value" => @project.calc_potential_income_elec,
													"Combined Value" => @project.calc_total_potential_income_chp
													
				}) %>
				<p class="text-center">Potential Value € Republic of Ireland Tariffs</p>
		</div>

		<!-- 3 column panel to right of page -->
		<div class="col-md-3 col-md-push-1">
			<div class=" panel panel-success">
				<div class="panel-heading">
					<h4 class="panel-title">Combined Heat & Power (CHP)</h4>
				</div>
				
					<div class="panel-body">
						CHP generation is the most common use for biogas. CHP
						plants have a maximum efficiency of 90% and produce 35%
						electricty and 65% heat.

						<h5>Calculation Assumptions</h5>
						50% of heat is used in digestor<br>
						Heat price MWH = <%= number_euro(96) %><br>
						Electriciy price MWH = <%=  number_euro(@project.elec_price) %>
						
						
					</div>
				</p>	
			</div>
		</div>
	</div><br>

	<div class="col-md-6">
			<div class="table-responsive">
				<div class="well">
					<table class="table table-bordered">
						<caption><strong>Combined Heat & Power Heat Potential</strong></caption>
						<thead>
							<tr>
								<th>Potential Heat</th>
								<th>Usable Heat</th>
								<th>Salable Heat</th>
								<th>price per MWH</th>
								<th>Potential Income</th>
							</tr>
						</thead>
						<tbody>
							<tr class="warning text-right">
								<td><%= number_delimiter(@project.total_mwh_ch4) %></td>
								<td><%= number_delimiter(@project.chp_usable_heat) %></td>
								<td><%= number_delimiter(@project.chp_salable_heat) %></td>
								<td><%= number_euro(96) %></td>
								<td><%= number_euro(@project.calc_potential_income_heat) %></td>
							</tr>
						</tbody>	
					</table>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="table-responsive">
				<div class="well">
					<table class="table table-bordered">
						<caption><strong>Combined Heat & Power Electricity Potential</strong></caption>
						<thead>
							<tr>
								<th>Potential Elec</th>
								<th>Salable Elec</th>
								<th>Generator Size MW</th>
								<th>Price MWH</th>
								<th>Potential Income</th>
							</tr>
						</thead>
						<tbody>
							<tr  class="warning text-right">
								<td><%= number_delimiter(@project.chp_potential_elec) %></td>
								<td><%= number_delimiter(@project.chp_salable_elec) %></td>
								<td><%= @project.calc_generator_size %></td>
								<td><%= number_euro(@project.elec_price) %></td>
								<td><%= number_euro(@project.calc_potential_income_elec) %></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th>Total</th>
								<th></th>
								<th></th>
								<th></th>
								<th class="text-right"><%= number_euro(@project.calc_total_potential_income_chp) %></th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>

		<%= link_to 'View Biogas Output', project_path(@project), :class => 'btn btn-info btn-lg' %>
		<%= link_to 'View Digestate Values', digestate_project_path(@project), :class => 'btn btn-info btn-lg'  %>
		<%= link_to 'View Upgrading Values', upgrading_project_path(@project), :class => 'btn btn-info btn-lg'  %>
	</div>
</div>
