<div class="container"><br>

	<%= link_to '<< View Biogas Output', project_path(@project), :class => 'btn btn-info' %>
	<%= link_to 'Edit Project', edit_project_path(@project), :class => 'btn btn-primary' %>
	<%= link_to 'View CHP Values >>', chp_project_path(@project), :class => 'btn btn-info'  %>
	<%= link_to 'View Project Report', report_project_path(@project), :class => 'btn btn-info' %>

	<h3>Project Name: <%= @project.name %></h3>

	
		<div class="col-md-5">
			<%= pie_chart @project.calculations.map { |calculation|
				[calculation.feedstock.type, calculation.calc_digestate_tonnes] 
			}, width: "250px"  %>
			<p class="text-center">Potential Digestate Tonnes</p>
		</div>
			<div class="col-md-4">
				<%= column_chart({"Nitrogen" => @project.total_digestate_nitrogen, 
													"Phosphorus" => @project.total_digestate_phosphorus,
													"Potash" => @project.total_digestate_potash
				}) %>
				<p class="text-center">Tonnes Potential Nutrients</p>
		</div>

		<div class="col-md-3">
			<div class=" panel panel-success">
				<div class="panel-heading">
					<h4 class="panel-title">Potential Digestate</h4>
				</div>
				
				<div class="panel-body">
					Digestate is a nutrient rich material remaining after anaerobic digestion.
					It can be used as a replacement for mineral fertilizers.<br>
					<h5><%= @project.name %> Totals Tonnes</h5>
					Digestate = <%= number_delimiter(@project.total_digestate_tonnes) %><br><br>
					Nitrogen = <%= number_delimiter(@project.total_digestate_nitrogen) %><br>
					Phosphorus = <%= number_delimiter(@project.total_digestate_phosphorus) %><br>
					Potassium = <%= number_delimiter(@project.total_digestate_potash) %>
				</div>	
			</div>
		</div>
	</div>
</div>

