<div class="container"><br>
	<%= link_to '<< Back to Projects', projects_path, :class => 'btn btn-primary' %>

	<h3>Project Name: <%= @project.name %></h3>

	<div class="col-md-6">
				<div class="table-responsive">
					<div class="well">
						<table class="table table-bordered">
							<caption><strong>Digestate volume & Estimated Nutrient Volumes</strong></caption>
							<thead>
								<tr>
									<th>Feedstock</th>
									<th>Tonnes</th>
									<th>Nitrogen</th>
									<th>Phosphorus</th>
									<th>Potassium</th>
								</tr>
							</thead>
							<tbody>
								<% for calculation in @project.calculations %>
									<tr class="success">
										<td><%= calculation.feedstock.type %></td>
										<td class="text-right"><%= number_delimiter(calculation.calc_digestate_tonnes) %></td>
										<td class="text-right"><%= number_delimiter(calculation.calc_digestate_nitrogen) %></td>
										<td class="text-right"><%= number_delimiter(calculation.calc_digestate_phosphorus) %></td>
										<td class="text-right"><%= number_delimiter(calculation.calc_digestate_potash) %></td>
									</tr>
								<% end %>	
							</tbody>
							<tfoot>
							<tr class="warning">
								<th>Total Tonnes</th>
								<th class="text-right"><%= number_delimiter(@project.total_digestate_tonnes) %></th>
								<th class="text-right"><%= number_delimiter(@project.total_digestate_nitrogen) %></th>
								<th class="text-right"><%= number_delimiter(@project.total_digestate_phosphorus) %></th>
								<th class="text-right"><%= number_delimiter(@project.total_digestate_potash) %></th>
							</tr>
						</tfoot>
						</table>
					</div>
				</div>
			</div>
				<div class="clearfix"></div>
				<%= link_to 'View Biogas Output', project_path(@project), :class => 'btn btn-info btn-lg' %>
		</div> 
</div>