<div class="container"><br>
	<div class="row">
		<div class="col-md-4">
			<%= render 'layouts/project_navigation_links' %>
			<%= link_to 'View Project Report', report_project_path(@project), :class => 'btn btn-primary' %>
		</div>
		<div class="col-md-3">
			<h4><%= @project.name %> Digestate Output</h4>
		</div>
	</div>

	
		<div class="col-md-5">
			<%= pie_chart @project.calculations.map { |calculation|
				[calculation.feedstock.type, calculation.calc_digestate_tonnes] 
			}, width: "250px"  %>
			<p class="text-center">Potential Digestate Tonnes</p>
		</div>
			<div class="col-md-4">
				<%= column_chart({"Nitrogen" => @project.total_digestate_nitrogen, 
													"Phosphorus" => @project.total_digestate_phosphorus,
													"Potash" => @project.total_digestate_potash
				}) %>
				<p class="text-center">Tonnes Potential Nutrients</p>
		</div>

		<div class="col-md-3">
			<div class=" panel panel-success">
				<div class="panel-heading">
					<h4 class="panel-title">Potential Digestate</h4>
				</div>
				
				<div class="panel-body">
					<h5><%= @project.name %> Totals Tonnes</h5>

					<div id="hint">
						<a href="#" rel="tooltip" title="Digestate is a nutrient rich material remaining after anaerobic digestion. It can be used as a replacement for mineral fertilizers.">
							Digestate</a>= <%= number_delimiter(@project.total_digestate_tonnes) %><br><br>
					</div>
					
					Nitrogen= <%= number_delimiter(@project.total_digestate_nitrogen) %><br>
					Phosphorus= <%= number_delimiter(@project.total_digestate_phosphorus) %><br>
					Potassium = <%= number_delimiter(@project.total_digestate_potash) %><br><br>

					<input class="btn btn-success btn-sm" type="submit" name="showh1" value="More Info" id="showh1">
					<input class="btn btn-warning btn-sm" type="submit" name="hideh1" value="Hide" id="hideh1">
					<%= link_to 'CHP >>', chp_project_path(@project), :class => 'btn btn-info btn-sm' %><br><br>
					<%= link_to '<< Biogas', project_path(@project), :class => 'btn btn-info btn-sm' %>
					
				</div>	
			</div>
		</div>
		<div class="clearfix"></div><br>

		<!-- table hidden by default -->
		<div class="col-md-6 col-md-push-3 showhide" id="digestate_table" hidden="true">
			<div class="table-responsive">
				<div>
					<table class="table table-bordered">
						<caption><strong>Digestate volume & Estimated Nutrient Volumes</strong></caption>
						<thead>
							<tr>
								<th>Feedstock</th>
								<th>Tonnes</th>
								<th>Nitrogen</th>
								<th>Phosphorus</th>
								<th>Potassium</th>
							</tr>
						</thead>
						<tbody>
							<% for calculation in @project.calculations %>
								<tr class="success">
									<td><%= calculation.feedstock.type %></td>
									<td class="text-right"><%= number_delimiter(calculation.calc_digestate_tonnes) %></td>
									<td class="text-right"><%= number_delimiter(calculation.calc_digestate_nitrogen) %></td>
									<td class="text-right"><%= number_delimiter(calculation.calc_digestate_phosphorus) %></td>
									<td class="text-right"><%= number_delimiter(calculation.calc_digestate_potash) %></td>
								</tr>
							<% end %>	
						</tbody>
						<tfoot>
						<tr class="warning">
							<th>Total Tonnes</th>
							<th class="text-right"><%= number_delimiter(@project.total_digestate_tonnes) %></th>
							<th class="text-right"><%= number_delimiter(@project.total_digestate_nitrogen) %></th>
							<th class="text-right"><%= number_delimiter(@project.total_digestate_phosphorus) %></th>
							<th class="text-right"><%= number_delimiter(@project.total_digestate_potash) %></th>
						</tr>
					</tfoot>
					</table>
				</div>
			</div>
		</div>

	</div>
</div>



