<div class="container"><br>
	<%= stylesheet_link_tag "print", media: 'print' %>

	<div id="buttons_hide"> <!-- hide buttons when printing -->
		<%= render 'layouts/project_navigation_links' %>
		<%= link_to 'Biogas Output', project_path(@project), :class => 'btn btn-primary' %>
		<div class="text-center">
			<a href="#" class="btn btn-warning hidden-xs" onclick="window.print();return false;">Print report</a> 
		</div>
	</div>

	<h2 class="text-center">Biogas Values for <%= @project.name %></h2>
	<!-- biogas calculation table -->
	<div class="col-md-9 col-md-push-1" id="biogas_table">
		<div class="table-responsive">
				<div>
					<table class="table table-bordered">
						<caption><strong>Biogas Output & Energy Values</strong></caption>
						<thead>
							<tr>
								<th>Feedstock</th>
								<th>Tonnes</th>
								<th>biogas/tonne</th>
								<th>m&#179; biogas</th>
								<th>% CH<sub>4</sub></th>
								<th>m&#179; CH<sub>4</th>
								<th>kg CH<sub>4</sub></th>
								<th>Gigajoules</th>
								<th>MWH</th>
							</tr>
						</thead>
						<tbody>
							<% for calculation in @project.calculations %>
								<tr class="success">
									<td><%= calculation.feedstock.type %></td>
									<td class="text-right"><%= number_delimiter(calculation.tonnes) %></td>
									<td class="text-right"><%= calculation.feedstock.biogas_per_tonne %></td>
									<td class="text-right"><%= number_delimiter(calculation.calc_m3_biogas) %></td>
									<td class="text-right"><%= number_percent(calculation.feedstock.methane_percent * 100) %></td>
									<td class="text-right"><%= number_delimiter(calculation.calc_m3_ch4) %></td>
									<td class="text-right"><%= number_delimiter(calculation.calc_kg_ch4) %></td>
									<td class="text-right"><%= number_delimiter(calculation.calc_gigjoules_ch4) %></td>
									<td class="text-right"><%= number_delimiter(calculation.calc_mwh_ch4) %></td>
								</tr>
							<% end %>
						</tbody>
						<tfoot>
							<tr class="warning">
								<th>Totals</th>
								<th class="text-right"><%= number_delimiter(@project.total_tonnes) %></th>
								<th></th>
								<th class="text-right"><%= number_delimiter(@project.total_m3_biogas) %></th>
								<th></th>
								<th class="text-right"> <%= number_delimiter(@project.total_m3_ch4) %></th>
								<th class="text-right"><%= number_delimiter(@project.total_kg_ch4) %></th>
								<th class="text-right"><%= number_delimiter(@project.total_gigjoules_ch4) %></th>
								<th class="text-right"><%= number_delimiter(@project.total_mwh_ch4) %></th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>

		<!-- display feedstock volume piechart -->
		<div class="row">
			<div class="col-md-6" id="feedstock_volume">
				<%= pie_chart @project.calculations.map { |calculation|
					[calculation.feedstock.type, calculation.tonnes] 
				}, width: "250px", height: "250px"  %>
				<p class="text-center">Feedstock Volume Tonnes</p>
			</div>

			<!-- display biogas volume piechart -->
			<div class="col-md-6 text-center" id="biogas_volume"> <!-- hide in print page -->
				<%= pie_chart @project.calculations.map { |calculation|
					[calculation.feedstock.type, calculation.calc_m3_biogas]
				}, width: "250px", height: "250px"   %>
				<p class="text-center">Biogas Potential m&#179;</p><br>
			</div>
		</div>

		<!-- display methane volume piechart -->
		<div class="col-md-6 col-md-push-3" id="methane_volume"> 
			<%= pie_chart @project.calculations.map { |calculation|
				[calculation.feedstock.type, calculation.calc_m3_ch4]
			}, width: "250px", height: "250px"  %>
			<p class="text-center">Methane Potential m&#179;</p><br>
		</div> <!-- print page page-break -->
		<div class="clearfix"></div>
	
		<h2 class="text-center">Digestate Values for <%= @project.name %></h2>

		<!-- biogas digestate table -->
		<div class="col-md-6 col-md-push-3" id="digestate_table">
				<div class="table-responsive">
					<div>
						<table class="table table-bordered">
							<caption><strong>Digestate volume & Estimated Nutrient Volumes</strong></caption>
							<thead>
								<tr>
									<th>Feedstock</th>
									<th>Tonnes</th>
									<th>Nitrogen</th>
									<th>Phosphorus</th>
									<th>Potassium</th>
								</tr>
							</thead>
							<tbody>
								<% for calculation in @project.calculations %>
									<tr class="success">
										<td><%= calculation.feedstock.type %></td>
										<td class="text-right"><%= number_delimiter(calculation.calc_digestate_tonnes) %></td>
										<td class="text-right"><%= number_delimiter(calculation.calc_digestate_nitrogen) %></td>
										<td class="text-right"><%= number_delimiter(calculation.calc_digestate_phosphorus) %></td>
										<td class="text-right"><%= number_delimiter(calculation.calc_digestate_potash) %></td>
									</tr>
								<% end %>	
							</tbody>
							<tfoot>
							<tr class="warning">
								<th>Total Tonnes</th>
								<th class="text-right"><%= number_delimiter(@project.total_digestate_tonnes) %></th>
								<th class="text-right"><%= number_delimiter(@project.total_digestate_nitrogen) %></th>
								<th class="text-right"><%= number_delimiter(@project.total_digestate_phosphorus) %></th>
								<th class="text-right"><%= number_delimiter(@project.total_digestate_potash) %></th>
							</tr>
						</tfoot>
						</table>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>

			<div class="row">
				<!-- display digestate volume piechart -->
				<div class="col-md-6" id="digestate_tonnes">
					<%= pie_chart @project.calculations.map { |calculation|
						[calculation.feedstock.type, calculation.calc_digestate_tonnes] 
					}  %>
					<p class="text-center">Potential Digestate Tonnes</p>
				</div> <!-- print page page-break -->
					<!-- display digestate nutrients column chart -->
					<div class="col-md-6" id="nitrient_tonnes"> <!-- hide in print page -->
						<%= column_chart({"Nitrogen" => @project.total_digestate_nitrogen, 
															"Phosphorus" => @project.total_digestate_phosphorus,
															"Potash" => @project.total_digestate_potash
						}) %>
						<p class="text-center">Tonnes Potential Nutrients</p>
				</div>
			</div>

			<div class="clearfix"></div>

			<h2 class="text-center">CHP Values for <%= @project.name %></h2>
			<!-- CHP heat table -->
			<div class="col-md-6">
			<div class="table-responsive">
				<div>
					<table class="table table-bordered">
						<caption><strong>Combined Heat & Power Heat Potential</strong></caption>
						<thead>
							<tr>
								<th>Potential Heat</th>
								<th>Usable Heat</th>
								<th>Salable Heat</th>
								<th>price per MWH</th>
								<th>Potential Income</th>
							</tr>
						</thead>
						<tbody>
							<tr class="warning text-right">
								<td><%= number_delimiter(@project.total_mwh_ch4) %></td>
								<td><%= number_delimiter(@project.chp_usable_heat) %></td>
								<td><%= number_delimiter(@project.chp_salable_heat) %></td>
								<td><%= number_euro(96) %></td>
								<td><%= number_euro(@project.calc_potential_income_heat) %></td>
							</tr>
						</tbody>	
					</table>
				</div>
			</div>
		</div>

		<!-- CHP electricity table -->
		<div class="col-md-6">
			<div class="table-responsive">
				<div>
					<table class="table table-bordered">
						<caption><strong>Combined Heat & Power Electricity Potential</strong></caption>
						<thead>
							<tr>
								<th>Potential Elec</th>
								<th>Saleable Elec</th>
								<th>Required Generator Size MW</th>
								<th>Price MWH</th>
								<th>Potential Income</th>
							</tr>
						</thead>
						<tbody>
							<tr  class="warning text-right">
								<td><%= number_delimiter(@project.chp_potential_elec) %></td>
								<td><%= number_delimiter(@project.chp_salable_elec) %></td>
								<td><%= @project.calc_generator_size %></td>
								<td><%= number_euro(@project.elec_price) %></td>
								<td><%= number_euro(@project.calc_potential_income_elec) %></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th>Total</th>
								<th></th>
								<th></th>
								<th></th>
								<th class="text-right"><%= number_euro(@project.calc_total_potential_income_chp) %></th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>

		<!-- display chp energy column chart -->
		<div class="col-md-5 col-md-push-1" id="chp_energy"> <!-- hide in print page -->
				<%= column_chart({"Generated Heat" => @project.chp_usable_heat,
													"Saleable Heat" => @project.chp_salable_heat, 
													"Generated Electricity" => @project.chp_salable_elec
				}) %>
				<p class="text-center">MWH CHP Energy</p>
		</div>

		<!-- display chp potential income column chart -->
		<div class="col-md-5" id="chp_value">
				<%= column_chart({"Heat Value" => @project.calc_potential_income_heat,
													"Electricity Value" => @project.calc_potential_income_elec,
													"Combined Value" => @project.calc_total_potential_income_chp
													
				}) %>
				<p class="text-center">Potential Value € Republic of Ireland Tariffs</p>
		</div> <!-- print page page-break -->
		<div class="clearfix"></div>

		<h2 class="text-center">Upgrading Values for <%= @project.name %></h2>

		<h3 class="text-center">
		<% if @project.calc_upg_ch4_per_hour < 250 %>
			<p>
				Upgrading biogas is not feasible with chosen feedstock volumes as CH<sub>4</sub>/hr is less than 250.</p>
		<% elsif @project.calc_upg_ch4_per_hour < 500 %>
			<p>
				Upgrading biogas is marginal with chosen feedstock volumes as CH<sub>4</sub>/hr is between 250 & 500</p>
		<% else @project.calc_upg_ch4_per_hour >= 500 %>
			<p>
				Upgrading biogas is feasible</p>
		<% end %>
	</h3>

		<!-- upgrading potential table -->
		<div class="col-md-8 col-md-push-2">
			<div class="table-responsive">
				<div>
					<table class="table table-bordered">
						<caption><strong>Upgrading Biogas</strong></caption>
						<thead>
							<tr>
								<th>Available CH<sub>4</sub></th>
								<th>Energy Used MWh</th>
								<th>CH<sub>4</sub> loss</th>
								<th>Upgraded CH<sub>4</sub></th>
								<th>Upgraded Gigajoules</th>
								<th>CH<sub>4</sub>/hr</th>
							</tr>
						</thead>
						<tbody>
							<tr class="warning class-right">
								<td><%= number_delimiter(@project.total_m3_ch4) %></td>
								<td><%= number_delimiter(@project.calc_upg_energy_consump) %></td>
								<td><%= number_delimiter(@project.calc_upg_ch4_loss) %></td>
								<td><%= number_delimiter(@project.calc_upg_ch4) %></td>
								<td><%= number_delimiter(@project.calc_upg_gigjoules_ch4) %></td>
								<td><%= number_delimiter(@project.calc_upg_ch4_per_hour) %></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<!-- upgrading vehicle potential table -->
		<div class="col-md-7">
			<div class="table-responsive">
				<div>
					<table class="table table-bordered">
						<caption><strong>Vehicle Fuel</strong></caption>
						<thead>
							<tr>
								<th>Price/m3</th>
								<th>Potential Value</th>
								<th>Buses Fueled</th>
								<th>Refuse Trucks Fueled</th>
								<th>Private Cars Fueled</th>
							</tr>
						</thead>
						<tbody>
							<tr class="warning text-right">
								<td><%= number_euro(0.81) %></td>
								<td><%= number_euro(@project.calc_potential_upg_income_vehicle) %></td>
								<td><%= number_delimiter(@project.calc_potential_buses_fueled) %></td>
								<td><%= number_delimiter(@project.calc_potential_wtruck_fueled) %></td>
								<td><%= number_delimiter(@project.calc_potential_cars_fueled) %></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<!-- upgrading gas grid potential table -->
		<div class="col-md-5">
				<div>
					<div class="table-responsive">
						<table class="table table-bordered">
							<caption><strong>Gas Grid</strong></caption>
							<thead>
								<tr>
									<th>Therms</th>
									<th>Therm price</th>
									<th>Potential Value</th>
									<th>Households fueled</th>
								</tr>
							</thead>
							<tbody>
								<tr class="warning text-right">
									<td ><%= number_delimiter(@project.calc_upg_therms) %></td>
									<td><%= number_euro(0.96) %></td>
									<td><%= number_euro(@project.calc_potential_gas_grid_income) %></td>
									<td><%= @project.calc_potential_homes_fueled %></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<!-- display upgrading methane column chart -->
			<div class="col-md-5 col-md-push-1" id="avail_methane"> <!-- hide in print page -->
				<%= column_chart({"Available Methane" => @project.total_m3_ch4,
													"Upgraded Methane" => @project.calc_upg_ch4 
				}) %>
				<p class="text-center">m&#179; Methane</p>
			</div>
			<!-- display upgrading income column chart -->
			<div class="col-md-5" id="upg_value"> <!-- hide in print page -->
					<%= column_chart({"Vehicle Fuel" => @project.calc_potential_upg_income_vehicle,
														"Gas Grid" => @project.calc_potential_gas_grid_income 
					}) %>
					<p class="text-center">Potential Value €</p>
			</div>

			<!-- display biogas potential income column chart -->
			<div class="col-md-8 col-md-push-2" id="income_comparsion">
				<%= column_chart({"Gas grid" => @project.calc_potential_gas_grid_income,
													"CHP Electricity value" => @project.calc_potential_income_elec,
													"CHP Electricity & Heat" => @project.calc_total_potential_income_chp,
													"Vehicle fuel" => @project.calc_potential_upg_income_vehicle

				}) %>
				<p class="text-center">Biogas Potential Income Comparsion</p>
			</div> <!-- print page page-break -->

			<div class="clearfix"></div>

			<h2 class="text-center">CO<sub>2</sub> Abatement for <%= @project.name %></h2>

			<!-- co2 abatement table -->
			<div class="col-md-7 col-md-push-2">
				<div>
					<div class="table-responsive">
						<table class="table table-bordered">
							<caption><strong>CO<sub>2</sub> Abatement Tonnes</strong></caption>
							<thead>
								<tr>
									<th>CHP Heat</th>
									<th>CHP Elec</th>
									<th>CHP Combined</th>
									<th>Upgrading gas grid</th>
									<th>Upgrading fuel diesel</th>
								</tr>
							</thead>
							<tbody>
								<tr class="warning text-right">
									<td><%= number_delimiter(@project.calc_carbon_savings_from_chp_heat) %></td>
									<td><%= number_delimiter(@project.calc_carbon_savings_from_chp_elec) %></td>
									<td><%= number_delimiter(@project.calc_carbon_savings_from_chp_combined) %></td>
									<td><%= number_delimiter(@project.calc_carbon_savings_from_upg_ggrid) %></td>
									<td><%= @project.calc_carbon_savings_from_upg_diesel %></td>
								</tr>
							</tbody> 
						</table>
					</div>
				</div>
			</div>

			<!-- display co2 abatment for various bogas options column chart -->
			<div class="col-md-7 col-md-push-2">
			<%= column_chart({"CHP Heat" => @project.calc_carbon_savings_from_chp_heat,
												"CHP Elec" => @project.calc_carbon_savings_from_chp_elec,
												"CHP conbined" => @project.calc_carbon_savings_from_chp_combined,
												"Upgrading Gas Grid" => @project.calc_carbon_savings_from_upg_ggrid,
												"Upgrading fuel diesel" => @project.calc_carbon_savings_from_upg_diesel
												
				}) %>
				<p class="text-center">Potential CO<sub>2</sub> savings Tonnes</p>
		</div>

	</div>
</div>
