<div class="container"><br>
	<%= link_to '<< View Biogas Output', project_path(@project), :class => 'btn btn-info' %>
	<%= link_to 'Edit Project', edit_project_path(@project), :class => 'btn btn-primary'  %>
	

	<h2 class="text-center">Biogas Values for <%= @project.name %></h2>

	<div class="col-md-9 col-md-push-1">
		<div class="table-responsive">
				<div class="well">
					<table class="table table-bordered">
						<caption><strong>Biogas Output & Energy Values</strong></caption>
						<thead>
							<tr>
								<th>Feedstock</th>
								<th>Tonnes</th>
								<th>biogas/tonne</th>
								<th>m&#179; biogas</th>
								<th>% CH<sub>4</sub></th>
								<th>m&#179; CH<sub>4</th>
								<th>kg CH<sub>4</sub></th>
								<th>Gigajoules</th>
								<th>MWH</th>
							</tr>
						</thead>
						<tbody>
							<% for calculation in @project.calculations %>
								<tr class="success">
									<td><%= calculation.feedstock.type %></td>
									<td class="text-right"><%= number_delimiter(calculation.tonnes) %></td>
									<td class="text-right"><%= calculation.feedstock.biogas_per_tonne %></td>
									<td class="text-right"><%= number_delimiter(calculation.calc_m3_biogas) %></td>
									<td class="text-right"><%= number_percent(calculation.feedstock.methane_percent * 100) %></td>
									<td class="text-right"><%= number_delimiter(calculation.calc_m3_ch4) %></td>
									<td class="text-right"><%= number_delimiter(calculation.calc_kg_ch4) %></td>
									<td class="text-right"><%= number_delimiter(calculation.calc_gigjoules_ch4) %></td>
									<td class="text-right"><%= number_delimiter(calculation.calc_mwh_ch4) %></td>
								</tr>
							<% end %>
						</tbody>
						<tfoot>
							<tr class="warning">
								<th>Totals</th>
								<th class="text-right"><%= number_delimiter(@project.total_tonnes) %></th>
								<th></th>
								<th class="text-right"><%= number_delimiter(@project.total_m3_biogas) %></th>
								<th></th>
								<th class="text-right"> <%= number_delimiter(@project.total_m3_ch4) %></th>
								<th class="text-right"><%= number_delimiter(@project.total_kg_ch4) %></th>
								<th class="text-right"><%= number_delimiter(@project.total_gigjoules_ch4) %></th>
								<th class="text-right"><%= number_delimiter(@project.total_mwh_ch4) %></th>
							</tr>
							
						</tfoot>
					</table>
				</div>
			</div>
		</div>

		<!-- display 2 bar charts in a row -->
		<div class="row">
			<div class="col-md-6">
				<%= pie_chart @project.calculations.map { |calculation|
					[calculation.feedstock.type, calculation.tonnes] 
				}, width: "250px", height: "250px"  %>
				<p class="text-center">Feedstock Volume Tonnes</p>
			</div>

			<div class="col-md-6 text-center">
				<%= pie_chart @project.calculations.map { |calculation|
					[calculation.feedstock.type, calculation.calc_m3_biogas]
				}, width: "250px", height: "250px"   %>
				<p class="text-center">Biogas Potential m&#179;</p><br>
			</div>
		</div>

		<!-- push bar chart into center -->
		<div class="col-md-6 col-md-push-3">
			<%= pie_chart @project.calculations.map { |calculation|
				[calculation.feedstock.type, calculation.calc_m3_ch4]
			}, width: "250px", height: "250px"  %>
			<p class="text-center">Methane Potential m&#179;</p><br>
		</div>
		<div class="clearfix"></div>
	
		<h2 class="text-center">Digestate Values for <%= @project.name %></h2>

		<div class="col-md-6 col-md-push-3">
				<div class="table-responsive">
					<div class="well">
						<table class="table table-bordered">
							<caption><strong>Digestate volume & Estimated Nutrient Volumes</strong></caption>
							<thead>
								<tr>
									<th>Feedstock</th>
									<th>Tonnes</th>
									<th>Nitrogen</th>
									<th>Phosphorus</th>
									<th>Potassium</th>
								</tr>
							</thead>
							<tbody>
								<% for calculation in @project.calculations %>
									<tr class="success">
										<td><%= calculation.feedstock.type %></td>
										<td class="text-right"><%= number_delimiter(calculation.calc_digestate_tonnes) %></td>
										<td class="text-right"><%= number_delimiter(calculation.calc_digestate_nitrogen) %></td>
										<td class="text-right"><%= number_delimiter(calculation.calc_digestate_phosphorus) %></td>
										<td class="text-right"><%= number_delimiter(calculation.calc_digestate_potash) %></td>
									</tr>
								<% end %>	
							</tbody>
							<tfoot>
							<tr class="warning">
								<th>Total Tonnes</th>
								<th class="text-right"><%= number_delimiter(@project.total_digestate_tonnes) %></th>
								<th class="text-right"><%= number_delimiter(@project.total_digestate_nitrogen) %></th>
								<th class="text-right"><%= number_delimiter(@project.total_digestate_phosphorus) %></th>
								<th class="text-right"><%= number_delimiter(@project.total_digestate_potash) %></th>
							</tr>
						</tfoot>
						</table>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-6">
					<%= pie_chart @project.calculations.map { |calculation|
						[calculation.feedstock.type, calculation.calc_digestate_tonnes] 
					}  %>
					<p class="text-center">Potential Digestate Tonnes</p>
				</div>
					<div class="col-md-6">
						<%= column_chart({"Nitrogen" => @project.total_digestate_nitrogen, 
															"Phosphorus" => @project.total_digestate_phosphorus,
															"Potash" => @project.total_digestate_potash
						}) %>
						<p class="text-center">Tonnes Potential Nutrients</p>
				</div>
			</div>
			<div class="clearfix"></div>

			<h2 class="text-center">CHP Values for <%= @project.name %></h2>

			<div class="col-md-6">
			<div class="table-responsive">
				<div class="well">
					<table class="table table-bordered">
						<caption><strong>Combined Heat & Power Heat Potential</strong></caption>
						<thead>
							<tr>
								<th>Potential Heat</th>
								<th>Usable Heat</th>
								<th>Salable Heat</th>
								<th>price per MWH</th>
								<th>Potential Income</th>
							</tr>
						</thead>
						<tbody>
							<tr class="warning text-right">
								<td><%= number_delimiter(@project.total_mwh_ch4) %></td>
								<td><%= number_delimiter(@project.chp_usable_heat) %></td>
								<td><%= number_delimiter(@project.chp_salable_heat) %></td>
								<td><%= number_euro(96) %></td>
								<td><%= number_euro(@project.calc_potential_income_heat) %></td>
							</tr>
						</tbody>	
					</table>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="table-responsive">
				<div class="well">
					<table class="table table-bordered">
						<caption><strong>Combined Heat & Power Electricity Potential</strong></caption>
						<thead>
							<tr>
								<th>Potential Elec</th>
								<th>Salable Elec</th>
								<th>Generator Size MW</th>
								<th>Price MWH</th>
								<th>Potential Income</th>
							</tr>
						</thead>
						<tbody>
							<tr  class="warning text-right">
								<td><%= number_delimiter(@project.chp_potential_elec) %></td>
								<td><%= number_delimiter(@project.chp_salable_elec) %></td>
								<td><%= @project.calc_generator_size %></td>
								<td><%= number_euro(@project.elec_price) %></td>
								<td><%= number_euro(@project.calc_potential_income_elec) %></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th>Total</th>
								<th></th>
								<th></th>
								<th></th>
								<th class="text-right"><%= number_euro(@project.calc_total_potential_income_chp) %></th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>

		<div class="col-md-5 col-md-push-1">
				<%= column_chart({"Generated Heat" => @project.chp_usable_heat,
													"Salable Heat" => @project.chp_salable_heat, 
													"Generated Electricity" => @project.chp_salable_elec
				}) %>
				<p class="text-center">MWH CHP Energy</p>
		</div>

		<div class="col-md-5">
				<%= column_chart({"Heat Value" => @project.calc_potential_income_heat,
													"Electricity Value" => @project.calc_potential_income_elec,
													"Combined Value" => @project.calc_total_potential_income_chp
													
				}) %>
				<p class="text-center">Potential Value € Republic of Ireland Tariffs</p>
		</div>
		<div class="clearfix"></div>

		<h2 class="text-center">Upgrading Values for <%= @project.name %></h2>

		<div class="col-md-8 col-md-push-2">
			<div class="table-responsive">
				<div class="well">
					<table class="table table-bordered">
						<caption><strong>Upgrading Biogas</strong></caption>
						<thead>
							<tr>
								<th>Available CH<sub>4</sub></th>
								<th>Energy Used MWh</th>
								<th>CH<sub>4</sub> loss</th>
								<th>Upgraded CH<sub>4</sub></th>
								<th>Upgraded Gigajoules</th>
								<th>CH<sub>4</sub>/hr</th>
							</tr>
						</thead>
						<tbody>
							<tr class="warning class-right">
								<td><%= number_delimiter(@project.total_m3_ch4) %></td>
								<td><%= number_delimiter(@project.calc_upg_energy_consump) %></td>
								<td><%= number_delimiter(@project.calc_upg_ch4_loss) %></td>
								<td><%= number_delimiter(@project.calc_upg_ch4) %></td>
								<td><%= number_delimiter(@project.calc_upg_gigjoules_ch4) %></td>
								<td><%= number_delimiter(@project.calc_upg_ch4_per_hour) %></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="col-md-7">
			<div class="table-responsive">
				<div class="well">
					<table class="table table-bordered">
						<caption><strong>Vehicle Fuel</strong></caption>
						<thead>
							<tr>
								<th>Price/m3</th>
								<th>Potential Value</th>
								<th>Buses Fueled</th>
								<th>Refuse Trucks Fueled</th>
								<th>Private Cars Fueled</th>
							</tr>
						</thead>
						<tbody>
							<tr class="warning text-right">
								<td><%= number_euro(0.81) %></td>
								<td><%= number_euro(@project.calc_potential_upg_income_vehicle) %></td>
								<td><%= number_delimiter(@project.calc_potential_buses_fueled) %></td>
								<td><%= number_delimiter(@project.calc_potential_wtruck_fueled) %></td>
								<td><%= number_delimiter(@project.calc_potential_cars_fueled) %></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-5">
				<div class="well">
					<div class="table-responsive">
						<table class="table table-bordered">
							<caption><strong>Gas Grid</strong></caption>
							<thead>
								<tr>
									<th>Therms</th>
									<th>Therm price</th>
									<th>Potential Value</th>
									<th>Households fueled</th>
								</tr>
							</thead>
							<tbody>
								<tr class="warning text-right">
									<td ><%= number_delimiter(@project.calc_upg_therms) %></td>
									<td><%= number_euro(0.96) %></td>
									<td><%= number_euro(@project.calc_potential_gas_grid_income) %></td>
									<td><%= @project.calc_potential_homes_fueled %></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-5 col-md-push-1">
				<%= column_chart({"Available Methane" => @project.total_m3_ch4,
													"Upgraded Methane" => @project.calc_upg_ch4 
				}) %>
				<p class="text-center">m&#179; Methane</p>
			</div>
			<div class="col-md-5">
					<%= column_chart({"Vehicle Fuel" => @project.calc_potential_upg_income_vehicle,
														"Gas Grid" => @project.calc_potential_gas_grid_income 
					}) %>
					<p class="text-center">Potential Value €</p>
			</div>

	</div>
</div>
