<div class="container"><br>
	<%= link_to '<< View Project Report', report_project_path(@project), :class => 'btn btn-info' %>
	<%= link_to 'Edit Project', edit_project_path(@project), :class => 'btn btn-primary'  %>
	<%= link_to 'View Digestate Values >>', digestate_project_path(@project), :class => 'btn btn-info'%>
	

	<h3>Project Name: <%= @project.name %></h3>

	<!-- display 2 bar charts in a row -->
	<div class="row">
		<div class="col-md-6">
			<%= pie_chart @project.calculations.map { |calculation|
				[calculation.feedstock.type, calculation.tonnes] 
			}, width: "250px", height: "250px"  %>
			<p class="text-center">Feedstock Volume Tonnes</p>
		</div>

		<div class="col-md-6 text-center">
			<%= pie_chart @project.calculations.map { |calculation|
				[calculation.feedstock.type, calculation.calc_m3_biogas]
			}, width: "250px", height: "250px"   %>
			<p class="text-center">Biogas Potential m&#179;</p><br>
		</div>
	</div>

	<!-- push bar chart into center -->
	<div class="col-md-6 col-md-push-3">
		<%= pie_chart @project.calculations.map { |calculation|
			[calculation.feedstock.type, calculation.calc_m3_ch4]
		}, width: "250px", height: "250px"  %>
		<p class="text-center">Methane Potential m&#179;</p><br>
	</div>
</div>








	



