<div class="container">

	<h3>Project Name: <%= @project.name %></h3>

	<!-- Dynamic alerts displayed depending biogas upgraded per hour -->
	<h3 class="text-center">
	<% if @project.calc_upg_ch4_per_hour < 250 %>
		<p class="alert alert-danger alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>Upgrading biogas is not feasible with chosen feedstock volumes</p>
	<% elsif @project.calc_upg_ch4_per_hour < 500 %>
		<p class="alert alert-warning alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			Upgrading biogas is marginal with chosen feedstock volumes</p>
	<% else @project.calc_upg_ch4_per_hour >= 500 %>
		<p class="alert alert-success alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			Upgrading biogas is feasible</p>
	<% end %>
	</h3>
	


	<div class="row">
		<div class="col-md-4">
				<%= column_chart({"Available Methane" => @project.total_m3_ch4,
													"Upgraded Methane" => @project.calc_upg_ch4 
				}) %>
				<p class="text-center">m&#179; Methane</p>
		</div>
		<div class="col-md-4">
				<%= column_chart({"Vehicle Fuel" => @project.calc_potential_upg_income_vehicle,
													"Gas Grid" => @project.calc_potential_gas_grid_income 
				}) %>
				<p class="text-center">Potential Value €</p>
		</div>

		<!-- 3 column panel to right of page -->
		<div class="col-md-3 col-md-push-1">
			<div class=" panel panel-success">
				<div class="panel-heading">
					<h4 class="panel-title">Biogas Upgrading</h4>
				</div>
				
					<div class="panel-body">
						Biogas upgrading is a process which removes carbon and other gasses
						thereby increasing methane content. Upgraded methane can be used as a 
						vehicle fuel or in the gas grid.<br><br>

						Upgraded per hour = <%= @project.calc_upg_ch4_per_hour %><br><br>
						Feasible greater than 500<br>
						Marginal between 500 and 250<br>
						Not feasible below 250

						<h5>Potentially can fuel</h5>
						
						<%= @project.calc_potential_buses_fueled %> busses or<br>
						<%= @project.calc_potential_wtruck_fueled %> refuse trucks or<br>
						<%= @project.calc_potential_cars_fueled %> private cars or<br>
						<%= @project.calc_potential_homes_fueled %> households
						
					</div>
				</p>	
			</div>
		</div>

	</div>

	<div class="col-md-8">
		<div class="table-responsive">
			<div class="well">
				<table class="table table-bordered">
					<caption><strong>Upgrading Biogas</strong></caption>
					<thead>
						<tr>
							<th>Available CH<sub>4</sub></th>
							<th>Energy Used MWh</th>
							<th>CH<sub>4</sub> loss</th>
							<th>Upgraded CH<sub>4</sub></th>
							<th>Upgraded Gigajoules</th>
							<th>CH<sub>4</sub>/hr</th>
						</tr>
					</thead>
					<tbody>
						<tr class="warning class-right">
							<td><%= number_delimiter(@project.total_m3_ch4) %></td>
							<td><%= number_delimiter(@project.calc_upg_energy_consump) %></td>
							<td><%= number_delimiter(@project.calc_upg_ch4_loss) %></td>
							<td><%= number_delimiter(@project.calc_upg_ch4) %></td>
							<td><%= number_delimiter(@project.calc_upg_gigjoules_ch4) %></td>
							<td><%= number_delimiter(@project.calc_upg_ch4_per_hour) %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
	
<div class="container">
	<div class="row">
		<div class="col-md-7">
			<div class="table-responsive">
				<div class="well">
					<table class="table table-bordered">
						<caption><strong>Vehicle Fuel</strong></caption>
						<thead>
							<tr>
								<th>Price/m3</th>
								<th>Potential Value</th>
								<th>Buses Fueled</th>
								<th>Refuse Trucks Fueled</th>
								<th>Private Cars Fueled</th>
							</tr>
						</thead>
						<tbody>
							<tr class="warning text-right">
								<td><%= number_euro(0.81) %></td>
								<td><%= number_euro(@project.calc_potential_upg_income_vehicle) %></td>
								<td><%= number_delimiter(@project.calc_potential_buses_fueled) %></td>
								<td><%= number_delimiter(@project.calc_potential_wtruck_fueled) %></td>
								<td><%= number_delimiter(@project.calc_potential_cars_fueled) %></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="clearfix"></div>

			<%= link_to 'View Biogas Output', project_path(@project), :class => 'btn btn-info btn-lg' %>
			<%= link_to 'View CHP Values', chp_project_path(@project), :class => 'btn btn-info btn-lg'  %>
			<%= link_to 'View Digestate Values', digestate_project_path(@project), :class => 'btn btn-info btn-lg'  %>
		</div>
			<div class="col-md-5">
				<div class="well">
					<div class="table-responsive">
						<table class="table table-bordered">
							<caption><strong>Gas Grid</strong></caption>
							<thead>
								<tr>
									<th>Therms</th>
									<th>Therm price</th>
									<th>Potential Value</th>
									<th>Households fueled</th>
								</tr>
							</thead>
							<tbody>
								<tr class="warning text-right">
									<td ><%= number_delimiter(@project.calc_upg_therms) %></td>
									<td><%= number_euro(0.96) %></td>
									<td><%= number_euro(@project.calc_potential_gas_grid_income) %></td>
									<td><%= @project.calc_potential_homes_fueled %></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
	</div>	
</div>