<div class="container"><br>

	<%= link_to '<< View CHP Values', chp_project_path(@project), :class => 'btn btn-info'  %>
	<%= link_to 'Edit Project', edit_project_path(@project), :class => 'btn btn-primary'  %>
	<%= link_to 'CO2 Abatement >>', carbon_project_path(@project), :class => 'btn btn-info'  %>
	<%= link_to 'View Project Report', report_project_path(@project), :class => 'btn btn-info' %>
	
	<h3>Project Name: <%= @project.name %></h3>

	<!-- Dynamic alerts displayed depending biogas upgraded per hour -->
	<h3 class="text-center">
		<% if @project.calc_upg_ch4_per_hour < 250 %>
			<p class="alert alert-danger">
				Upgrading biogas is not feasible with chosen feedstock volumes</p>
		<% elsif @project.calc_upg_ch4_per_hour < 500 %>
			<p class="alert alert-warning">
				Upgrading biogas is marginal with chosen feedstock volumes</p>
		<% else @project.calc_upg_ch4_per_hour >= 500 %>
			<p class="alert alert-success">
				Upgrading biogas is feasible</p>
		<% end %>
	</h3>
	

	<!-- column charts -->
	<div class="row">
		<div class="col-md-4">
				<%= column_chart({"Available Methane" => @project.total_m3_ch4,
													"Upgraded Methane" => @project.calc_upg_ch4 
				}) %>
				<p class="text-center">m&#179; Methane</p>
		</div>
		<div class="col-md-4">
				<%= column_chart({"Vehicle Fuel" => @project.calc_potential_upg_income_vehicle,
													"Gas Grid" => @project.calc_potential_gas_grid_income 
				}) %>
				<p class="text-center">Potential Value €</p>
		</div>



		<!-- 3 column panel to right of page -->
		<div class="col-md-3 col-md-push-1">
			<div class=" panel panel-success">
				<div class="panel-heading">
					<h4 class="panel-title">Biogas Upgrading Potential</h4>
				</div>
				
				<div class="panel-body">
					Upgrading is only suitable for industrial scale AD plants.
					It removes carbon and other gasses from the biogas.
					Upgraded biogas can be used as a vehicle fuel or in the gas grid.<br><br>

					Upgraded m&#179; per hour = <%= @project.calc_upg_ch4_per_hour %><br><br>
					

					<h5><%= @project.name %> Potentially could fuel</h5>
					
					<%= @project.calc_potential_buses_fueled %> buses or<br>
					<%= @project.calc_potential_wtruck_fueled %> refuse trucks or<br>
					<%= @project.calc_potential_cars_fueled %> private cars or<br>
					<%= @project.calc_potential_homes_fueled %> private households
					
				</div>
			</div>
		</div>
		<div class="clearfix"></div>

			<!-- compare potential incomes from biogas column chart -->
			<div class="col-md-8">
				<%= column_chart({"Gas grid" => @project.calc_potential_gas_grid_income,
													"CHP Electricity value" => @project.calc_potential_income_elec,
													"CHP Electricity & Heat" => @project.calc_total_potential_income_chp,
													"Vehicle fuel" => @project.calc_potential_upg_income_vehicle

				}) %>
				<p class="text-center">Biogas Potential Income Comparsion</p>
		</div>
	</div>
</div>

	


		
