<div class="container"><br>

	<%= link_to '<< View CHP Values', chp_project_path(@project), :class => 'btn btn-info'  %>
	<%= link_to 'Edit Project', edit_project_path(@project), :class => 'btn btn-primary'  %>
	<%= link_to 'View Project Report', report_project_path(@project), :class => 'btn btn-info' %>
	
	<h3>Project Name: <%= @project.name %></h3>

	<!-- Dynamic alerts displayed depending biogas upgraded per hour -->
	<h3 class="text-center">
		<% if @project.calc_upg_ch4_per_hour < 250 %>
			<p class="alert alert-danger">
				Upgrading biogas is not feasible with chosen feedstock volumes</p>
		<% elsif @project.calc_upg_ch4_per_hour < 500 %>
			<p class="alert alert-warning">
				Upgrading biogas is marginal with chosen feedstock volumes</p>
		<% else @project.calc_upg_ch4_per_hour >= 500 %>
			<p class="alert alert-success">
				Upgrading biogas is feasible</p>
		<% end %>
	</h3>
	

	<!-- column charts -->
	<div class="row">
		<div class="col-md-4">
				<%= column_chart({"Available Methane" => @project.total_m3_ch4,
													"Upgraded Methane" => @project.calc_upg_ch4 
				}) %>
				<p class="text-center">m&#179; Methane</p>
		</div>
		<div class="col-md-4">
				<%= column_chart({"Vehicle Fuel" => @project.calc_potential_upg_income_vehicle,
													"Gas Grid" => @project.calc_potential_gas_grid_income 
				}) %>
				<p class="text-center">Potential Value €</p>
		</div>



		<!-- 3 column panel to right of page -->
		<div class="col-md-3 col-md-push-1">
			<div class=" panel panel-success">
				<div class="panel-heading">
					<h4 class="panel-title">Biogas Upgrading</h4>
				</div>
				
				<div class="panel-body">
					Biogas upgrading is a process which removes carbon and other gasses
					thereby increasing methane content. Upgraded methane can be used as a 
					vehicle fuel or in the gas grid.<br><br>

					Upgraded per hour = <%= @project.calc_upg_ch4_per_hour %><br><br>
					Feasible greater than 500<br>
					Marginal between 500 and 250<br>
					Not feasible below 250

					<h5>Potentially can fuel</h5>
					
					<%= @project.calc_potential_buses_fueled %> busses or<br>
					<%= @project.calc_potential_wtruck_fueled %> refuse trucks or<br>
					<%= @project.calc_potential_cars_fueled %> private cars or<br>
					<%= @project.calc_potential_homes_fueled %> households
					
				</div>
			</div>
		</div>
	</div>
</div>

	


		
