<div class="container"><br>

	<%= link_to '<< Back to Projects', projects_path, :class => 'btn btn-primary' %>

	<h3>Project Name: <%= @project.name %></h3>

	<div class="col-md-8">
		<div class="table-responsive">
			<div class="well">
				<table class="table table-bordered">
					<caption><strong>Upgrading Biogas</strong></caption>
					<thead>
						<tr>
							<th>Available CH<sub>4</sub></th>
							<th>Energy Used MWh</th>
							<th>CH<sub>4</sub> loss</th>
							<th>Upgraded CH<sub>4</sub></th>
							<th>Upgraded Gigajoules</th>
							<th>CH<sub>4</sub>/hr</th>
						</tr>
					</thead>
					<tbody>
						<tr class="warning">
							<td class="text-right"><%= number_delimiter(@project.total_m3_ch4) %></td>
							<td class="text-right"><%= number_delimiter(@project.calc_upg_energy_consump) %></td>
							<td class="text-right"><%= number_delimiter(@project.calc_upg_ch4_loss) %></td>
							<td class="text-right"><%= number_delimiter(@project.calc_upg_ch4) %></td>
							<td class="text-right"><%= number_delimiter(@project.calc_upg_gigjoules_ch4) %></td>
							<td class="text-right"><%= number_delimiter(@project.calc_upg_ch4_per_hour) %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
	
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="table-responsive">
				<div class="well">
					<table class="table table-bordered">
						<caption><strong>Vehicle Fuel</strong></caption>
						<thead>
							<tr>
								<th>Price/m3</th>
								<th>Potential Value</th>
								<th>Buses Fueled</th>
								<th>Refuse Trucks Fueled</th>
								<th>Private Cars Fueled</th>
							</tr>
						</thead>
						<tbody>
							<tr class="warning">
								<td class="text-right"><%= number_euro(0.81) %></td>
								<td class="text-right"><%= number_euro(@project.calc_potential_upg_income_vehicle) %></td>
								<td class="text-right"><%= number_delimiter(@project.calc_potential_buses_fueled) %></td>
								<td class="text-right"><%= number_delimiter(@project.calc_potential_wtruck_fueled) %></td>
								<td class="text-right"><%= number_delimiter(@project.calc_potential_cars_fueled) %></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="clearfix"></div>

			<%= link_to 'View Biogas Output', project_path(@project), :class => 'btn btn-info btn-lg' %>
			<%= link_to 'View CHP Values', chp_project_path(@project), :class => 'btn btn-info btn-lg'  %>
			<%= link_to 'View Digestate Values', digestate_project_path(@project), :class => 'btn btn-info btn-lg'  %>
		</div>
			<div class="col-md-4">
				<div class="well">
					<div class="table-responsive">
						<table class="table table-bordered">
							<caption><strong>Gas Grid</strong></caption>
							<thead>
								<tr>
									<th>Therms</th>
									<th>Therm price</th>
									<th>Potential Value</th>
								</tr>
							</thead>
							<tbody>
								<tr class="warning">
									<td class="text-right"><%= number_delimiter(@project.calc_upg_therms) %></td>
									<td class="text-right"><%= number_euro(0.96) %></td>
									<td class="text-right"><%= number_euro(@project.calc_potential_gas_grid_income) %></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
	</div>	
</div>