<%# add navigation links to this file %>
<%# active link is shown  %>
<% if user_signed_in? %>
	<li class="<%= is_active?(projects_path) %>"><%= link_to 'View Projects', projects_path %></li>
  <li class="<%= is_active?(new_project_path) %>"><%= link_to 'Create New Project', new_project_path %></li>
	<li class="<%= is_active?(edit_user_registration_path) %>">
    <%= link_to 'Edit  User profile', edit_user_registration_path %></li>
	<li><%= link_to "Logout", destroy_user_session_path, method: :delete  %></li>
  <% if current_user.superadmin == true %>
    <li><%= link_to 'Admin', admin_dashboard_path %></li>
  <% else %>
    <li></li>
  <% end %>
<% else %>
	<li class="<%= is_active?(new_user_registration_path) %>">
    <%= link_to "Sign up", new_user_registration_path %></li>
	<li  class="<%= is_active?(new_user_session_path) %>">
    <%= link_to "Login", new_user_session_path  %></li>
<% end %>



